
    <div class="row">
      <div class="col-sm-6" *ngFor="let company of stockData" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{company.name}}</h5>
            <p class="card-text">Company Id: {{company.id}}</p>
            <p class="card-text">Current Price: {{company.currentPrice}}</p>
            <p class="card-text">Change: {{company.change}}</p>
            <a class="btn btn-primary"  [routerLink]="['/details',company.id]">View Details</a>
          </div>
        </div>
      </div>
    </div>
