.container{
    margin: 2rem;
    margin-top: 4rem;
    background-color: beige;
}
.company-title{
    color: cadetblue;
    font-size: 2rem;
}
.details-table-title{
   background-color: #c99797;
   margin-top: 1rem;
}