
<p style="font-size: 2rem;
color: blue;">
  Company Details
</p>
<div class="container">
  <div class="company-title">{{displayCompany.name}}</div>
  <hr>
  <div class="row details-table">
  <div class="col-sm-12">
       <div class="row details-table-title">
        <div class="col-sm-6">
          Current/Real Time Price
        </div>
        <div class="col-sm-6">
          Today's Change
          </div>
      </div>
    <div class="row">
      <div class="col-sm-6">
          {{displayCompany.currentPrice}}
      </div>
      <div class="col-sm-6">
          {{displayCompany.change}}
        </div>
    </div>
      </div>
  </div>
</div>



